@charset "UFT-8";



* { /* Seletor global */
    margin: 0;
    padding: 0;
}

    #container {
        text-align: center;
    }

    #Perfil img {
        width: 150px; /* Largura */
        height: 150px; /* Altura */
        margin-bottom: 13px;
    }

    #linksSocial ion-icon {
        height: 40px;
        width: 40px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 24px;
    }

    ul li a {
        text-decoration: none; /* tira o sumblinhado dos links*/
        border: 4px double black;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        padding: 10px;
        
    }
